@media print
{
    
#body
{
    background-color:white;
}

#nav
{
    display:none;
}

#video
{
    display:none;
}

.NoImg
{
    display:none;
}

fieldset
{
    border:none;
}

#content a, a:after { 
 content: " (" attr(href) ")";
 color:blue;
}

}
