body { background-color: #C19A6B; }
        
#header { border-radius: 5px; /* Rounds the corners by x pixels. */
            background-color: #99C0E0;
            text-align: center;
            padding: 5px; } /* Clears the area around your content by x pixels. */
            
#footer { border-radius: 5px;
            margin-top: 5px;
            text-align: center;
            background-color: #99C0E0;
            padding: 5px;
            clear: both;}

#logo { margin-top: 25px;
            float: left;
            position:absolute;
            padding: 5px; }

#container
        { border-radius: 5px;
            background-color: #C19A69;
            background: linear-gradient( to right, #C19A69, #FFE2C9, #FFE2C9, 
                                                #FFE2C9, #FFE2C9, #FFE2C9, #FFE2C9, #C19A69);
            
            width: 900px;
            margin-left: auto;
            margin-right: auto; }

#content { border-radius: 5px;
            background: transparent;
            margin-top:5px;
            float: left;
            width: 100%;
            width: 743px;
            padding: 5px;}

#nav    { border-radius: 5px;
            margin-top: 5px;
            background-color: #99C0E0;
            line-height: 20px;
            text-align:center;
            text-decoration:underline;
            height: auto;
            float: left; 
        }
        
    #menu   { border-radius: 5px;
               text-align: left;
               list-style-type: none; 
               padding: 2px; 
            }
            
        #nav a {background-image: url("pics/sprite.png");
                background-repeat:no-repeat;
                text-indent:30px;
                }
                
                
#nav li .active1 { background-position: 0px 8px;
                color: black;
                background-color: #FFE2C9;
                text-decoration: none;
                border-bottom:1px solid white; }
        
    #nav li .active2 {background-position: 0px -183px;
                    color: black;
                    background-color: #FFE2C9;
                    text-decoration: none;
                    border-bottom:1px solid white; }
                    
         #nav li .active3 {background-position: 0px  -87px;
                        color: black;
                        background-color: #FFE2C9;
                        text-decoration: none;
                        border-bottom:1px solid white; }   
                    
             #nav li .active4 {background-position: 0px -282px;
                            color: black;
                            background-color: #FFE2C9;
                            text-decoration: none;
                            border-bottom:1px solid white; }        
           
           
#video { width: 100%;
            width: 320px; }

    #Kim { max-width: 220px; 
            max-height: 220px; }
        
        #cat { width: 200px; }   
           
   
            
#form, input, textarea, select{ 
        width: 300px;
        border-radius: 10px;
        margin-bottom:10px;
        padding: 5px;
     }

 textarea { max-width: 300px; }
    
        fieldset { width: 350px;
                    border: 4px solid #C19A6B;
                    border-radius: 5px; }
                
            fieldset li {list-style-type: none; }
    
                legend { border-left: 1px solid #C19A6B;
                            border-right: 1px solid #C19A6B;
                            font-family: Arial; 
                            font-weight: bold; }
    
                    radio1 label { font-family: Arial; width:100px; }
                    radio2 label { font-family: Arial; width:100px; }
                    
                        input[type='radio'] {width:20px;
                                            float:right;
                                            margin-right:200px;
                                            margin-bottom:-8px;
                        }
                        
                        input[type='submit'] {width:150px;}
                        
                            



table, td, th { border: 2px solid black; }

    table { background-color: #99C0E0; }

        td { background-color: #FFE2C9;
                text-align: center; }
   
           
        
.Button { color: black;
            border-radius: 5px;
            box-shadow: inset 0 5px 2px rgba(255,255,255,0.6);
            font-family: Arial, sans-serif;
            display: inline-block;
            line-height: 2.5em;
            text-decoration: none; 
            border-bottom:none;
            margin-top: 4px;
            width: 133px;
        }
        
    .Colored.Button { color: black;
                        background: Linear-gradient(white, #FFE2C9, white);
                        text-decoration: none; 
                        border-bottom:1px solid white;
                    }
        
        
            .Active.Button { color: black;
                               background: Linear-gradient( white, #99C0E0, #99C0E0);
                               text-decoration: none;
                               border-bottom:1px solid white;
                            }

/* För sprites */

/* Index */
#spriteIcon { background-position:0px -40px;}
#spriteIcon:hover {background-position: 0px 8px;
                    color: black;
                    background-color: #FFE2C9;
                    text-decoration: none;
                    border-bottom:1px solid white;
                    }
                    

/* Presentation */
#spriteIcon2 { background-position:0px -231px;}
#spriteIcon2:hover {background-position: 0px -183px;
                    color: black;
                    background-color: #FFE2C9;
                    text-decoration: none;
                    border-bottom:1px solid white; 
                    }
                    
/* Laborationer */
#spriteIcon3 { background-position:0px -135px;}
#spriteIcon3:hover {background-position: 0px -87px;
                    color: black;
                    background-color: #FFE2C9;
                    text-decoration: none;
                    border-bottom:1px solid white; 
                    }
                    
/* Kontakt */        
#spriteIcon4 { background-position:0px -330px;}
#spriteIcon4:hover {background-position: 0px -282px;
                    color: black;
                    background-color: #FFE2C9;
                    text-decoration: none;
                    border-bottom:1px solid white;
                    }




.RightClass { float: right;
                padding: 5px; }
        
    .LeftClass { float: left;
                    padding: 0px; }

        .CenterClass {  margin-left:auto;
                        margin-right: auto;
                        padding: 5px; }
                
        
        
strong { font-size: 15px; }
        
    p   { color: black;
            font-family: Arial;
            text-align:left;
        }

        h1, h2, h3, h4  { font-family: Arial; }
        
        
        
a   { color: blue;
        text-decoration: none; }
        
    a:visited { color: gray; }
            
            
        a:hover { border-bottom: 1px dashed black; }
      
      
        
ul  { font-family: Arial;
        list-style-type: square; }

    ol  {font-family: Arial; }
        
        dl  { font-family: Arial;}
         