body
        {
            background-color: #C19A6B
            ;
        }
        
#header 
        {  
            border-radius: 5px;
            background-color: #99C0E0;
            text-align: center;
            padding: 5px;
    
        }
#footer
        {
            border-radius: 5px;
            margin-top: 5px;
            text-align: center;
            background-color: #99C0E0;
            position: relative;
            padding: 5px;
            
        }

#logo   
        {
            margin-top: 25px;
            float: left;
            padding: 5px;
        }

#container
        {
            background-color: #C19A69;
            background: linear-gradient( to right, #C19A69, #FFE2C9, #FFE2C9
                                            , #FFE2C9, #FFE2C9, #FFE2C9, #FFE2C9, #FFE2C9);

            width: 900px;
            margin-left: auto;
            margin-right: auto;
        }

#content
        {
            border-radius: 5px;
            background-color: #FFE2C9;
            margin-top: 5px;
            margin-left: 137px;
            padding: 5px;
        }

#nav    
        {   
            border-radius: 5px;
            margin-top: 5px;
            background-color: #99C0E0;
            line-height: 20px;
            text-align:center;
            height: auto;
            position: relative;
            padding: 0px;
            float: left;
            

        }
        

#video
        {
            width: 400px;
            height: 300px;
            margin-left: 130px;
        }
        
#menu
        {
           border-radius: 5px;
           text-align: center;
           list-style-type: none; 
           padding: 2px;
        }
        
.Button
        {
            color: black;
            border-radius: 5px;
            box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
            font-family: Arial, sans-serif;
            display: inline-block;
            line-height: 2.5em;
            text-decoration: none; 
            margin-top: 4px;
            width: 133px;
        }
        
        
        
.Colored.Button
        {
            background: Linear-gradient( #FFE2C9, white);
        
        }
        
.Button:hover 
        {
            color: black;
            background: Linear-gradient( white, #99C0E0, #99C0E0);
        }
        
.Active.Button
        {
            color: black;
            background: Linear-gradient( white, #99C0E0, #99C0E0);

        }

.RightClass
        {
            
            float: right;
            padding: 5px;
        }
        
.LeftClass
        {
            float: left;
            padding: 5px;
        }
.TopFixed
        {
            position: fixed;
            top: 100px;
        }
        
strong
        {
            font-size: 15px;
        }
        


        
p 
        { 
            color: black; 
            font-family: Arial sans-serif;
            
        }