body
        {
            background-color: #E0B999;
            
        }
#header 
        {   border: 1px solid;
            background-color: #99C0E0;
            text-align: center;
            padding: 5px;
            
        }

#logo   
        {
            margin-top: 25px;
            float: left;
            padding: 5px;
        }

#container
        {
            background-color: #E0B999;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

#content
        {
            border: 1px solid;
            background-color: #FFE2C9;
            margin-left: 131px;
            padding: 5px;
            
        }
        

#nav    
        {   
            border: 1px solid;
            background-color: #99C0E0;
            line-height: 30px;
            height: auto;
            position: relative;
            text-align:center;
            padding: 5px;
            float: left;
            
        }
        
#footer
        {
            border: 1px solid;
            background-color: #99C0E0;
            position: relative;
            padding: 5px;
        }

#video
        {
            width: 400px;
            height: 300px;
            margin-left: 130px;
        }
        
#menu
        {
           text-align: left;
           list-style-type: none; 
           margin: 35px 0;
        }
        
.RightClass
        {
            float: right;
            padding: 5px;
        }
        
.LeftClass
        {
            float: left;
            padding: 5px;
        }
.Fixed
{
    position: fixed;
    top: 100px;
}

p { color: black; }